{
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "dynamodb:*"
      ],
      "Resource": "arn:aws:dynamodb:*:{{ caller_info.account }}:table/{{ item.table_name }}"
    }
  ]
}