protocol=ddb
host=localhost
port=4334
license-key={{ license_key }}
aws-dynamodb-table={{ table_name }}
aws-dynamodb-region={{ aws_region }}
aws-transactor-role={{ transactor_role.role_name }}
aws-peer-role={{ peer_role.role_name }}
memory-index-threshold=32m
memory-index-max=256m
object-cache-max=128m


